@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

/* credits : Zeliko Milivojevic UI/ UX Design */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

html{
    background-color: white; 
}

body{
    width:100%;
    height:100%;
    min-height: 100vh;
}


/* HEADER */

#header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 0px 0px 20px;
  
}

#header .nav-left{
    display: flex;
    align-items:center;
    justify-content: space-evenly ;
    padding-left: 20px;
    gap: 50px;
}
#header .nav-right{
    display: flex;
    align-items:center;
    justify-content: space-evenly ;
    padding-right: 80px;
    gap: 30px;
}
#header .nav-left img{
    width: 150px;
}

#header .nav-left ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#header .nav-left ul li{
    list-style: none;
    
}
#header .nav-left ul li a{
    text-decoration: none;
    font-weight: 600;
    color: black;
    
}
#header .nav-right .watch-video{
    padding: 8px;
    border: none;
    background: none;
   cursor: pointer;
   
}
#header .nav-right .watch-video:hover{
    color:rgb(73, 73, 244)
}
#header .nav-right .Download-now{
    padding: 8px 10px;
    border: rgb(73, 73, 244) ;
    border-radius: 5px;
    background-color: rgb(73, 73, 244);
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;

}

/* Product */

.product{
    text-align: center;
    padding: 50px 0px 30px 0px;
}
.product h2{
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 15px;
}
.product p{
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.product .watch-video{
    padding: 8px;
    border: none;
    background: none;
    margin-left: 30px;
    cursor: pointer;
}
.product .watch-video:hover{
    color: rgb(73, 73, 244) ;
}
.product .Download-now{
    padding: 8px 10px;
    border: rgb(73, 73, 244) ;
    border-radius: 5px;
    background-color: rgb(73, 73, 244);
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
}

/*windows*/


.windows{
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding-top: 30px;
}

.windows .windows-right{
    display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   gap: 10px;
   width: 45%;

}

.windows h2{
    
        font-weight: 900;
        font-size: 45px;

}
.windows .Download-now{
    padding: 8px 10px;
    width: 30%;
    margin-top: 12px;
    border: rgb(73, 73, 244) ;
    border-radius: 5px;
    background-color: rgb(73, 73, 244);
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
}
.windows .windows-right p:first-of-type{
    color:rgb(73, 73, 244);
}

/*UI*/

.mac{
    display: flex;
    
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding-top: 30px;
   
}
.mac .mac-left{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   gap: 10px;
   width: 45%;
}
.mac .mac-right img {
    width:550px;
}
.mac .mac-left p:first-of-type{
    color:rgb(73, 73, 244);
}

.mac h2{
    font-weight: 900;
    font-size: 45px;

}

.mac .Download-now{
    padding: 8px 10px;
    width: 30%;
    margin-top: 12px;
    border: rgb(73, 73, 244) ;
    border-radius: 5px;
    background-color: rgb(73, 73, 244);
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
}

/*windows*/


.phone{
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding-top: 30px;
}

.phone .phone-right{
    display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   gap: 10px;
   width: 45%;

}

.phone h2{
    
        font-weight: 900;
        font-size: 45px;

}
.phone .Download-now{
    padding: 8px 10px;
    width: 30%;
    margin-top: 12px;
    border: rgb(73, 73, 244) ;
    border-radius: 5px;
    background-color: rgb(73, 73, 244);
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
}
.phone .phone-right p:first-of-type{
    color:rgb(73, 73, 244);
}

/* footer */

.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0px 30px 0px;
    gap:80px;
}
.footer .socialmedia{
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.footer .socialmedia #logo{
    width: 100px;
}
.footer #heading{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}
.footer .socialmedia .icon{
    display: flex;
    gap:10px;
}

.footer ul {
    list-style: none;
}
.footer ul li a{
    text-decoration: none;
    color: black;
}

.footer .newsletter {
   
   display: flex;
   flex-direction: column;
   position: relative;

   justify-content: space-evenly;
   
}
.footer .newsletter input{
    background-color: rgb(231, 231, 238);
    padding:8px;
    margin-bottom: 3px;
    border-radius: 5px;
    outline: none;
    border:rgb(201, 201, 213);
}